@import "popup";

* {
  margin: 0%;
  padding: 0%;
}

.cursor-pointer {
  cursor: pointer !important;
}

li {
  white-space: nowrap;
}

footer {
  padding: 5vh 1% 0% 1%;
  background-color: #2e1223;
  color: #f09e41;
  font-weight: 600;
}

button {
  border: none;
  background-color: inherit;
}

.footer1 {
  width: 100%;
  padding: 5vh 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer1 button {
  background-color: #f09e41;
  color: #2e1223;
  border: none;
}

.footer2 {
  width: 100%;
  text-align: center;
}

.value-drop {
  color: red;
}

.value-increase {
  color: green;
}

ul {
  list-style: none;
  padding: 0%;
}

.homeTitle {
  color: #2e1223;
}

.listContainer {
  display: flex;
  flex-direction: column;
}

.coins {
  padding: 0%;
}

.coinImage {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.listTitles {
  font-weight: 700;
  background-color: #f09e41;
  color: #2e1223;
}

.listTitles,
.coin {
  padding: 5px;
  border: 1px solid black;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr 1fr 3fr 1fr;
  margin: 10px 0%;
}

.listTitles li,
.coin li {
  text-align: center;
}

.coinIcons,
.likeIcons {
  justify-self: start;
}

.buyButton {
  color: green;
  font-weight: 600;
  margin-left: 5px;
}

.pagination {
  display: flex;
  justify-content: space-around;
}

.pagination ul {
  display: flex;
}

.cryptoCounter {
  padding: 5px;
  align-self: flex-end;
  margin-right: 30px;
}

.page,
.cryptoCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  // width: 20px;
  // height: 20px;
  color: #f09e41;
  background-color: #2e1223;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.page {
  padding: 1px 8px;
}

.selectedPage {
  opacity: 0.5;
}

.fa-heart {
  color: rgb(186, 186, 190);
}

.liked {
  color: red;
}

.likeBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
